<div class="content">

  <div class="content-header">
    <span>List</span>
  </div>

  <mat-divider></mat-divider>

  <div class="content-body">

    <mat-accordion class="example-headers-align" multi>
      <muh-expansion-panel
        class="body-expansion-panel"
        [title]="genre.genre.name"
        [description]="genre.genre.description"
        [expanded]="false"
        *ngFor="let genre of genresDataSource.data">
        <ng-container groups>
          <caption>Description: {{ genre.genre.description }}</caption>
          <caption>Albums</caption>

          <div style="overflow: auto; height: 25%;">
            <div
              style="
              display: flex;
              flex-direction: row;
              column-gap: 10px; padding-bottom: 5px;
              height: 100%; flex-wrap: nowrap">
              <muh-card-album
                style="width: 200px"
                [album]="album"
                *ngFor="let album of genre.albums"/>
            </div>
          </div>

          <mat-accordion class="example-headers-align" multi>
            <muh-expansion-panel
              class="body-expansion-panel group"
              [title]="subGenre.genre.name"
              [description]="subGenre.genre.description"
              *ngFor="let subGenre of genre.childGenres">
              <ng-container groups>
                Top 10 Albums
              </ng-container>
            </muh-expansion-panel>
          </mat-accordion>
        </ng-container>
      </muh-expansion-panel>
    </mat-accordion>
  </div >
</div>
